profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
    }

    hpc {
        apptainer.enabled = true
        process {
            cpus = 32
            executor = 'slurm'
            clusterOptions = '--account=twheeler --partition=standard --time=40:00:00'
        }
    }
}
